---
// SiteFooter component - Reusable footer matching Tailwind CSS blog design
---

<footer class="bg-white text-sm/loose text-gray-950 dark:bg-gray-950 dark:text-white">
  <div class="flex gap-4 p-4 md:hidden max-w-2xl lg:max-w-5xl">
    <div class="flex flex-1 flex-col gap-10">
      <div>
        <h3 class="font-semibold">Zod</h3>
        <ul class="mt-4 grid gap-4">
          <li><a class="hover:underline" href="https://docs.zodagent.com/">Documentation</a></li>
          <li><a class="hover:underline" href="https://docs.zodagent.com/api">API Reference</a></li>
          <li><a class="hover:underline" href="https://blogs.zodagent.com/">Blog</a></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-1 flex-col gap-10">
      <div>
</footer>
