---
---

<footer
  class="col-start-1 row-start-3 md:col-start-2 relative before:absolute before:top-0 before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10 before:-left-[100vw] after:absolute after:bottom-0 after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10 after:-left-[100vw]"
>
  <div
    class="bg-white text-sm/loose text-gray-950 dark:bg-gray-950 dark:text-white"
  >
    <div
      class="mx-auto hidden w-full grid-cols-4 justify-between gap-y-0 md:grid md:grid-cols-4 md:gap-6 md:gap-x-4 lg:gap-8 *:first:border-l-0 *:last:border-r-0"
    >
      <div
        class="border-x border-b border-gray-950/5 py-10 pl-2 dark:border-white/10"
      >
        <h3 class="font-semibold dark:text-white">Product</h3>
        <ul class="mt-4 grid gap-4">
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://www.zodagent.com/">Home</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/">Documentation</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://help.zodagent.com/">Help Center</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://blogs.zodagent.com/">Blog</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://app.zodagent.com/">App</a>
          </li>
        </ul>
      </div>
      <div
        class="border-x border-b border-gray-950/5 py-10 pl-2 dark:border-white/10"
      >
        <h3 class="font-semibold dark:text-white">Company</h3>
        <ul class="mt-4 grid gap-4">
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://calendly.com/ranag/10min">Book a Meeting</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://www.linkedin.com/in/zodagnet/">LinkedIn</a>
          </li>
        </ul>
      </div>
      <div
        class="border-x border-b border-gray-950/5 py-10 pl-2 sm:border-b-0 dark:border-white/10"
      >
        <h3 class="font-semibold dark:text-white">Resources</h3>
        <ul class="mt-4 grid gap-4">
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/api">API Reference</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/getting-started">Getting Started</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/examples">Examples</a>
          </li>
        </ul>
      </div>
      <div
        class="border-x border-gray-950/5 py-10 pl-2 dark:border-white/10"
      >
        <h3 class="font-semibold dark:text-white">Legal</h3>
        <ul class="mt-4 grid gap-4">
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/legal/privacy">Privacy Policy</a>
          </li>
          <li>
            <a class="hover:underline dark:text-gray-300 dark:hover:text-white" href="https://docs.zodagent.com/legal/terms">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
